*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: hsl(0, 0%, 100%);
  background-color: hsl(218, 28%, 13%);
}

h1,
h2,
h3,
p,
li,
a {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.padding {
  padding: 0 2.4rem;

  @media screen and (min-width: 768px) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
