.profile {
  display: flex;
  align-items: center;

  img {
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.5px;
  }
  p {
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0.571429px;
  }
  div {
    margin-left: 0.8rem;
    h4 {
      margin-bottom: 0.4rem;
    }
  }
}
.threecol {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  position: relative;
  ::before {
    content: url("../images/bg-quotes.png");
    position: absolute;
    top: -35px;
    left: -12px;
    z-index: -1;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.col {
  padding: 2.4rem 2rem;
  background-color: hsl(217, 28%, 15%);

  &-text {
    padding-bottom: 1.7rem;
  }
}
